In [33]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
import pickle

In [10]:
# load the dataset
data = load_iris()

In [27]:
# target mapping from integers
target_mapping = {e:t for e,t in enumerate(data.target_names)}
# convert data in to dataframe
df = pd.DataFrame(data['data'], columns=data.feature_names)
# copy target values to df
df['target'] = data['target']

In [44]:
target_mapping

{0: 'setosa', 1: 'versicolor', 2: 'virginica'}

In [28]:
df['target'].value_counts()

In [25]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [30]:
# Split dataset into training and testing sets
train, test = train_test_split(df, test_size=0.2, random_state=0)

x_train = train.drop(['target'], axis=1)
x_test = test.drop(['target'], axis=1)
y_train = train['target']
y_test = test['target']

In [32]:
model = Pipeline([('scaler',StandardScaler()), ('model',LogisticRegression())])
model.fit(x_train, y_train)

# validate model
pred = model.predict(x_test)
print(accuracy_score(y_test, pred))

1.0

In [34]:
# Save the model as a pickle file
with open('../model/model.pkl', 'wb') as file:
    pickle.dump(model, file)

In [35]:
file = open('../model/model.pkl','rb')
check = pickle.load(file)

In [36]:
accuracy_score(y_test,check.predict(x_test))

1.0

In [47]:
target_mapping[model.predict([[4.3,2.1,0,0]])[0]]

/Users/yashnagogineni/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

TypeError: unhashable type: 'numpy.ndarray'